name: Kubernetes Deployment

on:
  workflow_run:
      workflows: ["Build and push"]
      types: 
        - completed
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Kubectl
      uses: azure/setup-kubectl@v1

    - name: Configure Kubernetes context
      uses: azure/k8s-set-context@v1
      with:
        kubeconfig: ${{ secrets.KUBECONFIG }} # You need to Base64 encoded your kubeconfig file before adding it in github sercrets

    - name: Apply Kubernetes configurations
      run: |
        kubectl apply -n go-survey -f k8s/


